[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
pyaudio = "*"
oauth2client = "*"
google-api-python-client = "*"
numpy = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
